@import "../../../styles/mixins";
@import "../../../styles/vars";

.header { 
  @include flexCol(space-between);
  //padding-top: 68px;

  @include mdScreenMedia {
    display: block;
  }

  &__menuBtn {   
    width: 29px;
    height: 29px;
    @include flexCol();
    @include setFont(24px, 500, $font-family, $color-white);
    cursor: pointer;
    background-color: #13343b;
    border-radius: 50%;  

    &:active {
      transform: translateY(1px); 
    }    
  }

  &__logo {
    @include setFont(32px, 800, $font-family, $color-primary);
  }
}