@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: $transition;
  z-index: 1;
  padding: 30px 0 25px; 
  
   //height: 101px;

  @include bgWebp(
    "../assets/images/header/headerBg.png",
    "../assets/images/header/headerBg.webp"
  );
  background: no-repeat center top;
  //background-color: #010c10; 


  @include xlScreenMedia {
    //padding: 3% 20px;
   // padding: 2% 0;
  }

  @include mdScreenMedia {
    padding: 10px 0 0;
  }

  @include smScreenMedia {
   // margin: 1% 0 0;
  }

  &.scrolled {
   // background-color: #0c1c22;
    //padding-top: 20px;
    //padding-bottom: 20px;
  }
  &__container {
    @include flexCol(space-between);
    

    @include lgScreenMedia {
      //justify-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 20px;
    }

    @include smScreenMedia {
      padding: 10px 8px;
    }
  }

  &__menuBtn {
    width: 29px;
    height: 29px;
    @include flexCol();
    @include setFont(24px, 500, $font-family, $color-white);
    cursor: pointer;
    background-color: #13343b;
    border-radius: 50%;
    order: 2;

    @include lgScreenMedia {
      margin-left: auto;
    }

    @include mdScreenMedia {
      order: 1;
      display: none;;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__logoWrapper {
    @include flexCol(flex-start, flex-start);
    flex: 1;

     // Удалить 
     @include mdScreenMedia {
      justify-content: center;
    }
  }

  &__logoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    //margin-left: 27px;
  }

  &__logo {
    @include setFont(22px, 800, $font-family, $color-primary);
    order: 0;    

    &_lg {
      font-size: 32px;  
    }
  }

  &__backBtn {
    @include flexCol();
    width: 37px;
    min-width: 37px;
    height: 37px;
    background-color: $color-black;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 27px;   

     // Удалить 
     @include mdScreenMedia {
      display: none;;
    }

/*
  Svg {
      width: 9px;
      height: 14px;
    }
*/

    &:active {
      transform: translateY(1px);
    } 
  }

  &__btnIcon {
    @include svg(14px, $color-white);
  }


  &__category {
    @include setFont(12px, 800, $font-family, $color-grey80);
    text-transform: uppercase;
    margin-top: 5px;
  }
}
