@import "../../../styles/mixins";
@import "../../../styles/vars";

.labelPin {  
  @include flexCol(); 
  background-color: $color-bgLightGreen;
  text-align: center;
  text-transform: uppercase;   
  border-radius: 8px;
  padding: 4px 8px;  
  @include setFont(14px, 700, $font-family, $color-lightGreen);

  &__newPin {      
      
   
    //margin-bottom: 16px;
    
  } 
}