@import "../../../styles/mixins";
@import "../../../styles/vars";

.navbar {
  max-width: 625px;
  @include flexCol();
  //background-color: #010c10;
  background-color: green;
  padding: 60px 25px;

  @include smScreenMedia {
    flex-wrap: wrap;
    padding: 30px 0;
  }

  &__avatarImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    @include mdScreenMedia {
      display: none;      
    }
  
  }

  &__menu {
    @include flexCol();
    gap: 32px;
    margin: 0 66px;

    @include mdScreenMedia {     
      gap: 20px;
    }
  
  }

  &__menuLink {
    @include setFont(16px, 500, $font-family, $color-lightGrey);
    text-decoration: none;

    &:hover,
    &_active {
      color: $color-white;
    }
  }

  &__menuBtn {
    width: 29px;
    height: 29px;
    @include setFont(25px, 500, $font-family, $color-white);
    background-color: #13343b;
    border-radius: 50%;

    @include smScreenMedia {     
      display: none;
    }
  }
}
