@import "../../../styles/mixins";
@import "../../../styles/vars";

.navbar {
  max-width: 630px;
  @include flexCol();  
  margin-left: 255px; 
  

  @include smScreenMedia {
    flex-wrap: wrap;
    padding: 30px 0;
  }

  @include lgScreenMedia {
    margin-left: 0;
  }

  &__avatarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @include mdScreenMedia {
      display: none;      
    }  
  }

  &__menu {
    @include flexCol();
    gap: 32px;
    margin: 0 66px;

    @include mdScreenMedia {     
      gap: 20px;
    }  
  }

  &__menuLink {
    @include setFont(16px, 500, $font-family, $color-grey50);
    text-decoration: none;

    &:hover,
    &_active {
      color: $color-white;
    }
  }
}