@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-white;
  background-color: #010c10;
  font-family: $font-family;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  width: 100%;
  @include bgWebp(
    "../assets/images/home/background.png",
    "../assets/images/home/background.webp"
  );
  background-repeat: no-repeat;
}

button,
button:focus,
button:focus-visible,
button:active,
a:focus-visible {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  width: 100%;
  //margin: 190px auto 50px;
  margin: 0 auto;
  //padding-top: 210px;

  //padding-right: 100px;
  //padding-left: 100px;
  // border: 1px solid green;
  /*
  @include xlScreenMedia {
    max-width: 960px;
  }

  @include lgScreenMedia {
    max-width: 820px;
  }

  @include mdScreenMedia {
    max-width: 640px;
  }*/

  @include smScreenMedia {
    max-width: 360px;
    //padding-left: 16px;
   // padding-right: 16px;
  }

  .desk {
   // width: 100%;
   // display: flex;
    background-color: rgba(255, 255, 255, 0.05);  
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(30px); 
    @include setFont(12px, 500, $font-family, $color-grey50);  
    border-radius: 24px;
    padding: 24px;
  }

  .deskTitle {   
    @include setFont(16px, 700, $font-family, $color-primary);
    margin-bottom: 16px;    
  }

  .labelPin {     
    background-color: $color-bgLightGreen;
    text-align: center;
    text-transform: uppercase;   
    border-radius: 8px;
    padding: 4px 8px;  
    @include setFont(14px, 700, $font-family, $color-lightGreen);
  }


  

  .singlePgeContainer {     
    display: flex; 

    @include mdScreenMedia {
      flex-direction: column;
    }
  }

  .singleDeskContainer  {
    display: flex;
    flex-direction: column;    
    flex: 1;

    @include mdScreenMedia {
      margin-bottom: 30px;
    }
  }

  .singlePageMainContainer {
    display: flex;  
    max-width: 573px;
    width: 100%;
    flex: 1; 

    @include mdScreenMedia {
      max-width: 328px;
     // flex: 1;
    }
   
  }
}
