// media

$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;

// font

$font-family: "Noto Sans", serif;

// colors

$color-white: #ffffff;
$color-primary: #f4f4f4;
$color-grey20: rgba(244, 244, 244, 0.2);
$color-grey50: rgba(244, 244, 244, 0.5);
$color-grey80: rgba(244, 244, 244, 0.8);

$color-lightGreen: #c7fe62;
$color-black: #000000;

//$color-lightBlack: rgba(16, 16, 16, 0.5);

$color-red: #e53935;