@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeMain {

  
  &__cardContainer {
    display: grid;
   // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill,minmax(320px, 326px));
    justify-content: center;
  //grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
        
    gap: 60px;
    // display: flex;
    // flex-wrap: wrap;
   // justify-content: center;
   
   @include mdScreenMedia {
      gap: 30px;
      // grid-template-columns: repeat(2, 1fr);
    }
    
    @include smScreenMedia {
      gap: 16px;
      // grid-template-columns: repeat(1, 1fr);
    }

    &__card {
      // max-width: 328px;
      //width: 328px;
      background-size: cover;
      background-position: center;
      height: 430px;
      @include flexCol(space-between, stretch);      
      flex-wrap: wrap;
      flex-direction: column; 
      align-content: space-between;    
      
      @include bgWebp("../../../assets/images/home/videogame1.jpg","../../../assets/images/home/videogame1.webp");
      background-repeat: no-repeat;
      border-radius: 32px;
      padding: 24px 24px 24px 16px;     
     
    &_gameInfo {      
      width: 100%;
      @include flexCol(space-between, flex-start);       
    }

    &_gameNameBlock {      
      display: flex;     
      flex-direction: column;      
    }

    &_gameName {      
      @include setFont(22px, 700, $font-family, $color-primary);  
      margin-bottom: 4px; 
    }

    &_videogame {      
      @include setFont(12px, 600, $font-family, $color-softGrey);   
      text-transform: uppercase;
    }

    &_position {      
      @include setFont(14px, 700, $font-family, $color-lightGreen);  
      background: rgba(199, 254, 98, 0.2);
      text-transform: uppercase;
      border-radius: 8px;
      padding: 4px 8px;
    }

//status block 

    &_gameStatus {      
      @include setFont(12px, 500, $font-family, $color-softGrey);  
    }  

    &_funded {        
       @include flexCol(space-between, stretch);   
       margin-bottom: 10px;         
     }
  }


    &__card2 {
      // max-width: 328px;
     // width: 328px;
      height: 430px;
      @include flexCol(space-between, stretch);      
      flex-wrap: wrap;
      flex-direction: column; 
      align-content: space-between;    
      
      @include bgWebp("../../../assets/images/home/videogame2.jpg","../../../assets/images/home/videogame2.webp");
      background-repeat: no-repeat;
      border-radius: 32px;
      padding: 24px 24px 16px;   
    }
  }
}