@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeMain {     
    display: grid;   
    //grid-template-columns: repeat(auto-fill,minmax(320px, 20%));
     grid-template-columns: repeat(auto-fill,minmax(320px, 326px));
    justify-content: center;
    gap: 60px;   
   
   @include mdScreenMedia {
      gap: 30px;      
    }
    
    @include smScreenMedia {
      gap: 16px;      
    }

    &__card {     
      @include flexCol(space-between, stretch);      
      flex-wrap: wrap;
      flex-direction: column; 
      align-content: space-between;   
      height: 430px; 
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
      border-radius: 32px;
      padding: 24px 24px 16px;    
  }

  &__cardHeader {      
    width: 100%;
    @include flexCol(space-between, flex-start);       
  }

  &__cardGameNameBlock {      
    display: flex;     
    flex-direction: column;      
  }

    &__cardGameName {      
    @include setFont(22px, 700, $font-family, $color-primary);  
    margin-bottom: 4px; 
  }

  &__cardVideogame {      
    @include setFont(12px, 600, $font-family, $color-grey80);   
    text-transform: uppercase;
  }

  &__cardGamePosition {      
    @include setFont(14px, 700, $font-family, $color-lightGreen);  
    background: rgba(199, 254, 98, 0.2);
    text-transform: uppercase;
    border-radius: 8px;
    padding: 4px 8px;
  } 
}