@import "../../../styles/mixins";
@import "../../../styles/vars";

.progressBarFunding {

    @include setFont(12px, 500, $font-family, $color-grey80);   

  &__funded {        
     @include flexCol(space-between, stretch);   
     margin-bottom: 10px;         
   }

   &__percent{    
    margin-right: 5px;
    padding: 4px 6px;
   }

   &__trackingLine {
    display: flex;
    width: 100%;
    height: 4px;
    background-color: $color-grey20;
    border-radius: 100px;
    margin-bottom: 10px;
   }

   &__slider {
    background-color: $color-lightGreen;
    border-radius: 100px;
   }
}